<div class="grid" [formGroup]="parentGroup()">
  <app-dynamic-skeleton [showSkeleton]="isLoading()">
    <label [for]="id()">{{ label() }}</label>
  </app-dynamic-skeleton>
  <app-dynamic-skeleton class="mt-1" [showSkeleton]="isLoading()">
    <input
      type="datetime-local"
      [id]="id()"
      [fluid]="fluid()"
      [formControlName]="controlName()"
      pInputText
    />
  </app-dynamic-skeleton>
  <app-validation-feedback
    [parentGroup]="parentGroup()"
    [controlName]="controlName()"
    [class.hidden]="isLoading()"
  />
</div>
