<div class="grid gap-1" [formGroup]="parentGroup()">
  <app-dynamic-skeleton [showSkeleton]="isLoading()">
    <label [for]="id()">{{ label() }}</label>
  </app-dynamic-skeleton>
  <app-dynamic-skeleton [showSkeleton]="isLoading()">
    <input
      [fluid]="fluid()"
      type="text"
      [id]="id()"
      [formControlName]="controlName()"
      [class]="fieldClasses()"
      [attr.autocomplete]="autocomplete()"
      appScrollIntoViewOnFocus
      pInputText
    />
  </app-dynamic-skeleton>
  <app-validation-feedback
    [parentGroup]="parentGroup()"
    [controlName]="controlName()"
    [class.hidden]="isLoading()"
  />
</div>
