<app-submit-dialog
	[(dialogVisible)]="dialogVisible"
	[dialogTitle]="dialogTitle"
	[saveText]="saveButtonText"
	(hidden)="onDialogHidden()"
	(savePressed)="submit()"
>
	<div>
		<app-password-input
			id="newPassword"
			label="New password"
			i18n-label="@@newPasswordDialog.newPasswordLabel"
			controlName="newPasswordControl"
			autocomplete="new-password"
			[parentGroup]="parentGroup"
			[fluid]="true"
		/>
		<app-password-input
			id="newPasswordAgain"
			label="New password again"
			i18n-label="@@newPasswordDialog.newPasswordAgainLabel"
			controlName="newPasswordAgainControl"
			autocomplete="new-password"
			[parentGroup]="parentGroup"
			[fluid]="true"
		/>
	</div>
</app-submit-dialog>
